.navbar-child1 {
    width: 1920px;
    height: 134px;
    position: relative;
    background-color: var(--color-goldenrod);
    display: none;
    max-width: 100%;
  }
  .ferre3 {
    margin: 0;
  }
  .express3 {
    margin: 0;
    color: var(--color-gainsboro);
  }
  .ferre-express3 {
    margin: 0;
    position: relative;
    font-size: inherit;
    line-height: 105.6%;
    font-weight: 800;
    font-family: inherit;
    z-index: 1;
  }
  .logo-ferreexpres-largo-mesa-de3 {
    height: 57px;
    width: 255px;
    position: absolute;
    margin: 0 !important;
    right: -119px;
    bottom: -9px;
    object-fit: cover;
    z-index: 2;
  }
  .header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
  }
  .frame-child9 {
    height: 49px;
    width: 1073px;
    position: relative;
    background-color: var(--color-white);
    display: none;
    max-width: 100%;
  }
  .buscar-productosmarcas-y1 {
    height: 28px;
    width: 578.9px;
    position: relative;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    max-width: 100%;
    z-index: 1;
  }
  .rectangle-parent3 {
    align-self: stretch;
    background-color: var(--color-white);
    flex-direction: row;
    justify-content: flex-start;
    padding: var(--padding-3xs) var(--padding-3xl) var(--padding-2xs);
    box-sizing: border-box;
    z-index: 1;
  }
  .content2,
  .rectangle-parent3,
  .search-container2 {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }
  .search-container2 {
    width: 1073px;
    flex-direction: column;
    justify-content: flex-start;
    padding: var(--padding-9xs) 0 0;
    box-sizing: border-box;
    font-size: var(--font-size-mini);
    color: var(--color-dimgray);
  }
  .content2 {
    width: 1302px;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .categorias3,
  .news-feed-icon3 {
    position: absolute;
    left: 0;
    z-index: 1;
  }
  .categorias3 {
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  .news-feed-icon3 {
    top: 4px;
    width: 19px;
    height: 19px;
    object-fit: cover;
  }
  .categorias-container {
    align-self: stretch;
    height: 26px;
    position: relative;
  }
  .categories-container3 {
    width: 129px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 0 var(--padding-12xs);
    box-sizing: border-box;
  }
  .ofertas3 {
    align-self: stretch;
    position: relative;
    z-index: 1;
  }
  .page-links {
    width: 103px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-lg) 0 0;
    box-sizing: border-box;
    margin-left: -8px;
  }
  .acerca-de-nosotros3 {
    align-self: stretch;
    position: relative;
    z-index: 1;
  }
  .page-links1 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 var(--padding-lgi) var(--padding-11xs) 0;
    margin-left: -8px;
  }
  .puntos-fisicos3 {
    width: 121px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    z-index: 1;
    margin-left: -8px;
  }
  .navigation-links {
    width: 508px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    max-width: 100%;
  }
  .crea-tu-cuenta3,
  .mis-pedidos4 {
    flex: 1;
    position: relative;
    z-index: 1;
  }
  .ingresa3 {
    align-self: stretch;
    position: relative;
    z-index: 1;
  }
  .login-container2 {
    flex: 0.7829;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-9xl) 0 0;
  }
  .shopping-cart-icon3 {
    width: 27px;
    height: 27px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    z-index: 1;
  }
  .cart-container1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 0 var(--padding-12xs);
  }
  .user-actions1 {
    width: 423px;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
  }
  .menu,
  .navbar3,
  .user-actions1 {
    display: flex;
    max-width: 100%;
  }
  .menu {
    width: 1358px;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    gap: var(--gap-xl);
    text-align: center;
    font-size: var(--font-size-mini);
    color: var(--color-black);
  }
  .navbar3 {
    align-self: stretch;
    background-color: var(--color-goldenrod);
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-sm) var(--padding-247xl) var(--padding-xl);
    box-sizing: border-box;
    gap: var(--gap-lgi);
    text-align: left;
    font-size: var(--font-size-8xl);
    color: var(--color-gray-300);
    font-family: var(--font-inter);
  }
  .ajustes-avisos {
    width: 238px;
    position: relative;
    font-weight: 600;
    display: inline-block;
  }
  .avisos-de-privacidad3 {
    margin: 0;
    align-self: stretch;
    position: relative;
    font-size: var(--font-size-16xl);
    font-weight: 600;
    font-family: inherit;
    color: var(--color-black);
  }
  .privacy-links,
  .privacy-links-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .privacy-links {
    flex: 1;
    flex-direction: column;
    gap: 25px;
  }
  .privacy-links-wrapper {
    width: 716px;
    flex-direction: row;
    padding: 0 var(--padding-11xs);
    box-sizing: border-box;
  }
  .frame-child10 {
    height: 1263px;
    width: 771px;
    position: relative;
    border-radius: var(--br-3xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-black);
    box-sizing: border-box;
    display: none;
    max-width: 100%;
  }
  .blank-line16,
  .en-ferreexpress-valoramos {
    margin: 0;
  }
  .identidad-y-domicilio {
    margin: 0;
    font-size: var(--font-size-5xl);
    font-weight: 600;
  }
  .blank-line17,
  .ferreexpress-con-domicilio {
    margin: 0;
  }
  .datos-personales-recopilados {
    margin: 0;
    font-size: var(--font-size-5xl);
    font-weight: 600;
  }
  .recopilamos-datos-personales {
    margin: 0;
  }
  .direccin-de-correo-electrnic,
  .direccin-de-envo,
  .informacin-de-pago-nmero-de,
  .nmero-de-telfono,
  .nombre-completo {
    margin-bottom: 0;
  }
  .nombre-completo-direccin-de-c {
    margin: 0;
    padding-left: var(--padding-xl);
  }
  .blank-line18 {
    margin: 0;
  }
  .finalidades-del-tratamiento {
    margin: 0;
    font-size: var(--font-size-5xl);
    font-weight: 600;
  }
  .tus-datos-personales {
    margin: 0;
  }
  .finalidades-principales-proce1,
  .finalidades-secundarias-envia {
    margin-bottom: 0;
  }
  .finalidades-principales-proce {
    margin: 0;
    padding-left: var(--padding-xl);
  }
  .blank-line19 {
    margin: 0;
  }
  .uso-de-datos {
    margin: 0;
    font-size: var(--font-size-5xl);
    font-weight: 600;
  }
  .blank-line20,
  .si-has-dado {
    margin: 0;
  }
  .transferencia-de-datos {
    margin: 0;
    font-size: var(--font-size-5xl);
    font-weight: 600;
  }
  .blank-line21,
  .ferreexpress-no-compartir {
    margin: 0;
  }
  .derechos-arco {
    margin: 0;
    font-size: var(--font-size-5xl);
    font-weight: 600;
  }
  .blank-line22,
  .tienes-derecho-a {
    margin: 0;
  }
  .medidas-de-seguridad {
    margin: 0;
    font-size: var(--font-size-5xl);
    font-weight: 600;
  }
  .blank-line23,
  .implementamos-medidas-de {
    margin: 0;
  }
  .cookies-y-tecnologas {
    margin: 0;
    font-size: var(--font-size-5xl);
    font-weight: 600;
  }
  .blank-line24,
  .ferreexpress-utiliza-cookies {
    margin: 0;
  }
  .cambios-al-aviso {
    margin: 0;
    font-size: var(--font-size-5xl);
    font-weight: 600;
  }
  .blank-line25,
  .contacto2,
  .nos-reservamos-el,
  .si-tienes-dudas {
    margin: 0;
  }
  .correo-electrnico-correo-de1 {
    margin-bottom: 0;
  }
  .correo-electrnico-correo-de {
    margin: 0;
    padding-left: var(--padding-xl);
  }
  .en-ferreexpress-valoramos-container {
    height: 1178px;
    flex: 1;
    position: relative;
    display: inline-block;
    max-width: 100%;
    z-index: 1;
  }
  .information,
  .rectangle-parent4 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .rectangle-parent4 {
    width: 771px;
    height: 1263px;
    border-radius: var(--br-3xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-black);
    box-sizing: border-box;
    flex-direction: row;
    padding: var(--padding-5xl) var(--padding-15xl);
    color: var(--color-black);
  }
  .information {
    flex-direction: column;
    gap: 44px;
  }
  .contacto4 {
    font-family: var(--font-inter);
  }
  .blank-line26,
  .contacto3,
  .para-cualquier-consulta1 {
    margin: 0;
  }
  .contacto-para-cualquier-container1 {
    flex: 1;
    position: relative;
  }
  .contacto-para-cualquier-consul-wrapper,
  .footer-content1 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .contacto-para-cualquier-consul-wrapper {
    align-self: stretch;
    flex-direction: row;
    padding: 0 0 0 var(--padding-3xs);
    font-size: var(--font-size-base);
    color: var(--color-black);
  }
  .footer-content1 {
    width: 781px;
    flex-direction: column;
    gap: 97px;
    max-width: 100%;
  }
  .footer1,
  .frame-child11 {
    box-sizing: border-box;
    max-width: 100%;
  }
  .footer1 {
    width: 1903px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 var(--padding-xl) var(--padding-3xl);
    text-align: left;
    font-size: var(--font-size-mini);
    color: var(--color-steelblue);
    font-family: var(--font-inter);
  }
  .frame-child11 {
    width: 1920px;
    height: 266px;
    position: relative;
    background-color: var(--color-whitesmoke-400);
    border: 1px solid var(--color-silver);
    display: none;
  }
  .avisos-de-privacidad4,
  .condiciones-de-uso5 {
    flex: 1;
    position: relative;
    line-height: 137%;
    font-weight: 500;
    display: inline-block;
    min-width: 161px;
    z-index: 1;
  }
  .ferreexpress3,
  .legal-links {
    align-self: stretch;
    display: flex;
  }
  .legal-links {
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: var(--gap-7xs);
  }
  .ferreexpress3 {
    height: 40px;
    position: relative;
    line-height: 137%;
    font-weight: 500;
    color: var(--color-dimgray);
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    z-index: 1;
  }
  .aviso-de-privacidad,
  .rectangle-parent5 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .rectangle-parent5 {
    align-self: stretch;
    background-color: var(--color-whitesmoke-400);
    border: 1px solid var(--color-silver);
    box-sizing: border-box;
    padding: var(--padding-23xl) var(--padding-691xl) var(--padding-128xl);
    gap: var(--gap-7xs);
    max-width: 100%;
    text-align: center;
    font-size: var(--font-size-lg);
    color: var(--color-steelblue);
    font-family: var(--font-inter);
  }
  .aviso-de-privacidad {
    width: 100%;
    position: relative;
    background-color: var(--color-whitesmoke-200);
    overflow: hidden;
    gap: var(--gap-55xl);
    line-height: normal;
    letter-spacing: normal;
  }
  @media screen and (max-width: 1200px) {
    .navbar3 {
      padding-left: var(--padding-114xl);
      padding-right: var(--padding-114xl);
      box-sizing: border-box;
    }
    .rectangle-parent4 {
      padding-top: var(--padding-xl);
      padding-bottom: var(--padding-xl);
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 1150px) {
    .navbar3 {
      padding-left: var(--padding-xl);
      padding-right: var(--padding-xl);
      box-sizing: border-box;
    }
    .avisos-de-privacidad3 {
      font-size: var(--font-size-2xl);
    }
    .information {
      gap: var(--gap-3xl);
    }
    .footer-content1 {
      gap: var(--gap-5xl);
    }
  }
  @media screen and (max-width: 800px) {
    .avisos-de-privacidad3 {
      font-size: var(--font-size-9xl);
    }
    .footer-content1 {
      gap: 48px;
    }
    .rectangle-parent5 {
      padding-left: var(--padding-336xl);
      padding-right: var(--padding-336xl);
      box-sizing: border-box;
    }
    .aviso-de-privacidad {
      gap: var(--gap-18xl);
    }
  }
  @media screen and (max-width: 450px) {
    .navbar3,
    .rectangle-parent5 {
      padding-left: var(--padding-47xl);
      padding-right: var(--padding-47xl);
      box-sizing: border-box;
    }
    .rectangle-parent5 {
      padding-left: var(--padding-158xl);
      padding-right: var(--padding-158xl);
    }
    .aviso-de-privacidad {
      gap: var(--gap-lg);
    }
  }
  